 body {
                background: #FFFFFF;
                margin: 0px;
                padding: 0px;
                font-family:"Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
                font-size: 12px;
            }
            a:link, a:visited {
                color: #5D80B2;
                text-decoration: none;
            }
            a:hover {
                color: #036;
            }
            h3 { font-size:14px; margin:.8em 0 .3em 0; color:#666; font-weight:bold; }

#container {
	width: 100%;
	margin:0px;
	padding: 0px;
	background: white;
	color: black;
}
            #header {
                background: #417690;
                color: #FFFFCC;
					 width: 100%;
                /* overflow: hidden; */
            }
            #header a:link, #header a:visited {
                color: white;
            }
            #header a:hover {
                text-decoration: underline;
            }
            #branding h1 {
                font-size: 20px;
                font-weight: normal;
                color: #F4F379;
					 margin:0px;
                padding:8px 8px 12px;
            }
				
            #branding h1 a:link, #branding h1 a:visited, #branding h1 a:hover {
                color: #F4F379;
                font-weight: normal;
            }
            #user-tools {
                font-size: 12px;
                padding: 14px 10px;
                position: absolute;
                right: 15px;
                text-align: right;
                top: 0pt;
            }
				#header>#user-tools {
				
					 right: 0px;
					
				} 
            #title {
                color: #f4f379;
                background: #7ca9c0;
                padding: 0pt;
            }
            #title h1 {
                font-size: 18px;
                font-weight: normal;
                margin: 0px 0pt;
                padding: 2pt 30px;
            }
            #object-tools {
                float: right;
                margin-right: 20px;
            }
            #object-tools ul {
                font-family: Arial,Helvetica,sans-serif;
                font-size: 10px;
                font-weight: bold;
                margin-bottom: 0em;
					 margin-top: 4px;
            }
            #object-tools li {
                background: transparent url(../img/kepler/tool-left.gif) 0 0 no-repeat;
                display: block;
					 width: 12em;
                float: left;
                height: 16px;
                margin-left: 2px;
                padding: 0pt 2pt 0pt 8px;
            }
            #object-tools li:hover {
                background: url(../img/kepler/tool-left_over.gif) 0 0 no-repeat;
            }
            #object-tools a:link, #object-tools a:visited {
                color: white;
                display: block;
                height: 14px;
                padding: 0.1em 26px 0.1em 8px
            }
            #object-tools a {
                background: #999999 url(../img/kepler/tool-right.gif) no-repeat scroll right top;
                padding-right: 38px;
            }
            #object-tools a:hover, #object-tools li:hover a {
                background: #5b80b2 url(../img/kepler/tool-right_over.gif) 100% 0 no-repeat;
            }
            #object-tools a.addlink {
                background: #999999 url(../img/kepler/tooltag-add.gif) no-repeat scroll right top;
            }
            #object-tools a.addlink:hover {
                background: #5b80b2 url(../img/kepler/tooltag-add_over.gif) no-repeat scroll right top;
            }
            #object-tools a.xlink {
                background: #999999 url(../img/kepler/tooltag-cross.gif) no-repeat scroll right top;
            }
            #object-tools a.xlink:hover {
                background: #5b80b2 url(../img/kepler/tooltag-add_over.gif) no-repeat scroll right top;
            }
            #object-tools a.arrowlink {
                background: #999999 url(../img/kepler/tooltag-arrowright.gif) no-repeat scroll right top;
            }
            #object-tools a.arrowlink:hover {
                background: #5b80b2 url(../img/kepler/tooltag-arrowright_over.gif) no-repeat scroll right top;
            }
            #breadcrumbs {
                background: white url(../img/kepler/nav-bg-reverse.gif) 0 -10px repeat-x;
                padding:2px 8px 3px 8px;
                font-size:11px;
                color:#999;
                border-top:1px solid white;
                border-bottom:1px solid #ccc;
                text-align:left;
            }
            #content {
                padding: 0 2em 0 2em;
					
            }
            #content h1 { font-size:18px; color:#666; padding:0 6px 0 0; margin:0 0 .2em 0; }
            input[type=text], input[type=password], textarea, select, .vTextField { border:1px solid #ccc; }

            /*  FORM BUTTONS  */
            input[type=submit], input[type=button], .submit-row input {
                background: white url(../img/kepler/nav-bg.gif) bottom repeat-x;
                padding: 3px;
                color: black;
                border: 1px solid #bbb;
                border-color: #ddd #aaa #aaa #ddd;
            }
            input[type=submit]:active, input[type=button]:active {
                background-image: url(../img/kepler/nav-bg-reverse.gif);
                background-position: top;
            }
            input[type=submit].default, .submit-row input.default {
                border: 2px solid #5b80b2;
                background: #7CA0C7 url(../img/kepler/default-bg.gif) bottom repeat-x;
                font-weight: bold; color:white;
            }
            input[type=submit].default:active {
                background-image: url(../img/kepler/default-bg-reverse.gif);
                background-position:top;
            }
				
				.button { background: #7CA0C7 url(../img/kepler/default-bg.gif) repeat-x scroll center bottom; border: 2px solid #5B80B2; color: white; font-weight: bold;
}

            #hydrant-logo {
                position: absolute;
                left: 10px;
                top: 10px;
            }

            #footer {
                clear:both;
                text-align: center;
                display: block;
                font-size: x-small;
                color:#666;
            }
            #footer .copywrite {
                padding:10px;
                border-top: 1px solid #4d6d83;
                border-bottom: 1px solid #4d6d83;
            }
            #footer td {
                border: 0;
            }
            #footer a img {
                border: 0 #fff;
            }
				
				.errornote { 
				font-size:12px !important; 
				display:block; 
				padding:4px 5px 4px 25px; 
				margin:0 0 3px 0; 
				border:1px solid red; 
				color:red;
				background:#ffc url(../img/kepler/icon_error.gif) 5px .3em no-repeat; 
				}
				
				.props { background: #FFF; border: 1px solid #CCC; padding: 10px; margin: 2px auto; text-align: center; }
        .forms th, .forms td { border: 1px solid #CCC; }
		  
		      ul.messagelist { padding:0 0 5px 0; margin:0; }
            ul.messagelist li.good {
                font-size:12px;
                display:block;
                padding:4px 5px 4px 25px;
                margin:0 0 3px 0;
                border-bottom:1px solid #ddd;
                color:#666;
                background:#ffc
                url(../img/kepler/icon_success.gif) 5px .3em no-repeat;
            }
            ul.messagelist li.bad {
                font-size:12px;
                display:block;
                padding:4px 5px 4px 25px;
                margin:0 0 3px 0;
                border-bottom:1px solid red;
                color: red;
                background:#ffc
                url(../img/kepler/icon_error.gif) 5px .3em no-repeat;
            }
