.loading {
            background-image:url(/media/img/loading.gif);
            background-position:center center;
            background-repeat:no-repeat;
            height: 10em;
}

.loading * {
            display:none;
}

a:link, a:visited {
	background: transparent;
}

.dataGroup {
  border: 1px solid #94AFC1;
  padding: 0.5em;
  margin: 0.5em;
  background: #D4DFE6;
}
.dataGroup thead {
  font-weight: bold;
}


