
#dashboard { 
             font-size: 0.8em;
             margin: 1.0em 0.4em 0 0.4em;
}

#dashboard h1 { 
                border-bottom: 1px solid #d0d0d0;
                padding-bottom: 0.2em;
}

#dashboard h1 a { 
                  font-weight: normal;
                  font-size: 0.8em;
}

#dashboard #col-one {
                      float: left;
                      width: 60%;
}

#dashboard #col-two {
                      width: 36%;
                      float: right;
}

#dashboard #news {

}

#dashboard #small-jobs {

}

.thing { 
       padding: 0 0 1.0em 1.0em;
}

.thing .title { 
                font-weight: bold;
                float: left;
                margin: 0.25em 0 0 0.5em;
}

#news .thing .title { 
                font-weight: bold;
}

.thing .details {
                padding: 0 0 0 1.0em;
}

#news .thing .details { 
                        clear: both;
                        padding: 0.3em 0 0 1em;

}

.thing .icon {
               float: left;
}

#news .thing .icon {
                     clear: both;

}

.thing .icon img { 
                          border: 1px solid #d0d0d0;
                          padding: 2px;
                          width: 1.23em;
                          height: 1.23em;
}

#news .thing .icon img { 
                          border: 1px solid #d0d0d0;
                          padding: 2px;
                          width: 2.46em;
                          height: 2.463em;
}

.thing .tools img { 
                    padding: 2px;
                    width: 1.25em;
                    height: 1.25em;
                    float: left;
}

#col-one .thing .details .status { 
                          margin: 0.2em 0 0 0;
                          float: left;
                          padding: 0 0 0 1.5em;
                          width: 82%;
}

#col-one .thing .details .status label { 
                                         color: #aaa;
                                         font-weight: bold;
}

#col-two .thing .details .status { 
                          margin: 0.2em 0 0 0;
                          float: left;
                          padding: 0 0 0 1.5em;
                          width: 70%;
}

#dashboard a { 
               color: #4183c4;
               text-decoration: none;
}

#dashboard a:hover { 
               text-decoration: underline;
}

#dashboard #small-workflows {
}

