.login-box { 
             font-size: 1em;
             border: #81abd4 1.2em solid;
             width: 24em;
             margin: 2.0em auto;
             background: #eaf2f5;
             padding: 1.0em 1.5em 0.5em 1.5em;
}

.errorbox {
            background: #ffebe8;
            border: 1px solid #dd3c10;
            font-weight: bold;
            padding: 1em;
}

.login-box label { 
        display: block;
        margin: 1em 0 0 0;
        color: #666;
}

#login-fields input { 
                padding: 0.4em;
                width: 97.3%;
                border:1px solid #ccc; 
}

#buttons { 
           height: 2.0em;
}

#buttons input { 
                 float: right;
}

#upload-wf-box { 
             font-size: 1em;
             border: #81abd4 1.2em solid;
             width: 41em;
             margin: 2.5em auto;
             background: #eaf2f5;
             padding: 1.0em 1.5em 0.5em 1.5em;
}

#upload-wf-box #fields #id_name, #id_moml_file { 
                                                 padding: 0.4em 0.4em 0.4em 0.4em;
                                                 width: 97.3%;
                                                 border:1px solid #ccc;           
}
#upload-wf-box #fields #public { 
                                 margin: 1em 0 0 0;
                                 display: block;
                                 color: #666;
                                 padding: 0 0 1em 0;
}
#upload-wf-box #fields #public span { 
                                      font-size: 0.8em;
}

#upload-wf-box #fields #public label {
                                       margin: 0;
                                       color: black;
}

#upload-wf-box #fields #public ul {
                                    margin: 0.3em 0 0 -1.8em;
}

#upload-wf-box #fields #public ul li { 
                                       display: block;
                                       float: left;
                                       padding: 0 1em 0 0;
                      }

#upload-wf-box #fields #public label>input {
                                             margin: 0 0.7em 0 0;
}

#upload-wf-box #fields #id_description { 
                                         padding: 0.4em 0.4em 0.4em 0.4em;
                                         width: 97.3%;
                                         border:1px solid #ccc;           
}

.missing-field { 
                 color: #a00;
}
.missing-field input { 
                       border: 1px solid #a00 !important;
                       background-color: #f2e1e1;
}

.error-text { 
              font-style: italic;
}

.error-text-small { 
                    font-style: italic;
                    font-size: 0.8em;
}

#wf-p table { 
              margin: 0 auto;
              border-top: 1px solid #ccc;
              border-left: 1px solid #ccc;
              border-bottom: 1px solid #ccc;
}

#wf-p .forms tr { 
                  border-bottom: 1px solid #ccc;
}

#wf-p .forms th, #wf-p .forms td { 
                  border-right: 1px solid #ccc;
}

#wf-p .forms th, #wf-p .forms th, #wf-p .forms td { 
                                                    padding: 0.5em;
                                                    text-align: center;
}

#wf-p input { 
              border: 1px solid #ccc;
              padding: 0.2em;
}

#wf-p textarea { 
                 border: 1px solid #ccc;
                 padding: 0.2em;
                 height: 4em;
                 width: 20em;
}

#wf-p .submit-row { 
                    text-align: right;
                    padding: 1em;
}

#jobform { 
           padding: 0.7em 0.7em 1.5em 0.7em;
}

#jobform #field { 
                  border-top: 1px solid #ccc;
                  margin: 0.5em 0 0 0;
                  padding: 0.5em 0 0 0;
                  width: 100%;
}

#jobform label {
                             color: #666;
                             font-size: 1.2em;
                             padding: 0em 1.5em 0.5em 0em;
                             width: 26em;
                             float: left;
}

#jobform #field #help-text {
                                         padding: 0.5em 0 0.5em 0;
}

#jobform #field input {
                                    width: 99%;
                                    border: 1px solid #bedce7;
                                    padding: 0.2em;
}

#jobform #field input[type=checkbox] {
                                                   width: 1.3em;
                                                   height: 1.3em;
                                                   }

#jobform #field textarea { 
                                       border: 1px solid #bedce7;
                                       width: 100%;
                                       height: 4em;
                                       padding: 0.2em;
}

#jobform .submit-row { 
                       text-align: right;
}

#jobform .error { 
                  color: #a00;
}

#jobform .error input { 
                        border: 1px solid #a00 !important;
                        background-color: #f2e1e1;
}

#jobform #errortext { 
                      color: #a00;
}

#editform {
            padding: 0.7em 0.7em 1.5em 0.7em;
            margin: 0 0 1em 0;
            border: 1px solid #bedce7;
            background: #eaf2f5;
}

#editform #field { 
                   margin: 0.5em 0 0 0;
                   padding: 0.5em 0 0 0;
                   width: 100%;
}

#editform label {
                 color: #666;
                 font-size: 1.2em;
                 padding: 0em 1.5em 0.5em 0em;
                 width: 26em;
}

#editform #field input {
                         width: 99%;
                         border: 1px solid #bedce7;
                         padding: 0.2em;
}

#editform #field textarea { 
                            border: 1px solid #bedce7;
                            width: 99%;
                            height: 4em;
                            padding: 0.2em;
}

#editform #public {
                           margin: 0.5em 0 0 0;
                           padding: 0.5em 0 0 0;
}

#editform #public li { 
                      margin: -1em 3em 0 -3em;
                      display: block;
                      float: left;
                      }


#usersform #adduserrow { 
                         padding: 0.4em;
                         color: #666;
                         margin: 0.3em 0 0.3em 0;
}

#usersform label { 
                               margin: 0 0 0 0;
                               font-size: 1.2em;
                               color: #666;
}

#usersform #adduserrow input { 
                               border: 1px solid #bedce7;
                               margin: 0 1em 0 0;
                               padding: 0.2em;
} 

#usersform #submitrow { 
                        padding: 0.4em;
                        text-align: right;
 }

#signup-box { 
             font-size: 1em;
             border: #81abd4 1.2em solid;
             width: 41em;
             margin: 2.5em auto;
             background: #eaf2f5;
             padding: 1.0em 1.5em 0.5em 1.5em;
}

#signup-box #fields { 
                      padding: 0 0 1em 0;
}

#signup-box #fields label {
                            padding: 0 0 1.5em 0;
                            }

#signup-box #fields input {
                    padding: 0.4em;
                    width: 97.3%;
                    border:1px solid #ccc; 
                    }

#signup-box #success {
                       padding: 0 0 0.5em 0;
                    }