body {
       line-height: 1.0em;
       font-size: 1em;
       margin: 0 0 0 0;
       font-family: helvetica,arial,clean,sans-serif;
       background: #ddddff;
}

h1 {
     font-size: 1.5em;
     margin: 0em 0em 0.5em 0em;
     padding: 0;
}

a img { 
        border: 0 #fff;
}

.site { 
        margin: 0pt auto;
        text-align: left;
        width: 62em;
        background: #fff;
        border-left: 1px solid #999;
        border-right: 1px solid #999;
}

#header {
          background-image: url(../img/header.png);
          background-position: 100% 6.88em;
          height: 6.88em;
}
#header #logo {
                position: absolute;
                padding: 0.6em 0 0 0.7em;
                font-size: 2em;
}
#header #logo img {
                    /* 200 x 59 */
                    width: 6.25em;
                    height: 1.84em;
                       
                    /* 250 x 89 
                    width: 7.81;
                    height: 2.78em;*/
}

#header #toolbar { 
                   position: absolute;
                   margin: 5.44em 0 0 0;
                   height: 1.44em;
                   background: #3e5a8b;
                   max-width: 62em;
                   width: 100%;
                   font-weight: bold;
}

#header #toolbar ul {
                      border: 0 none;
                      margin: 0 0 0 0;
                      list-style-type: none;
}

#header #toolbar li { 
                      display: block;
                      float: right;
                      padding: 0 1.0em 0 0;
}

#header #toolbar .tools { 
                          margin: 0.20em;
}

#header #toolbar .toollink { 
                             float: right;
}

#header #toolbar .toollink a {
                               padding: 0.13em 1.0em 0.16em 1.0em;
                               height: 1.44em;
                               color: white;
}
#header #toolbar a:link, a:visited {
                                     color: white;
                                     font-weight: bold;
                                     text-decoration: none;
}
#header #toolbar a:hover { 
                           color: black;
                           height: 1.44em;
                           background-position: 100% 1.44em;
                           background-image: url(../img/bottom-of-header.png);
                           text-decoration: underline;
}
#header #userbox {
                   float: right;
                   height: 6.0em;
                   font-family: sans-serif;
                   text-align: center;
                   font-size: 0.8em;
                   margin: 0.5em 1.0em 0 0;
}
#header #userbox #gravatar img {
                                 margin: 0 auto;
                                 width: 3.69em;
                                 height: 3.69em;
                                 padding: 2px;
                                 border: 1px solid #d0d0d0;
}
#header #userbox #username {

}
                            
#header #userbox a:link, a:visited {
                                     color: #4183c4;
                                     font-weight: bold;
                                     text-decoration: none;
}

#header #userbox a:hover { 
                           color: #4183c4;
                           text-decoration: underline;
}

.seperator { 
             border-top: 5px solid #DDD; 
             width:100%; 
             margin: 0 0 0 0;
}

#content { 
           border: 0;
           width: 62em;
           height: 80%;
}

#footer { 
          padding: 1em 0 1em 0;
          text-align: center;
          display: block;
          font-size: 0.7em;
          color: #666;
}

#footer a:link, a:visited {
                            color: #5D80B2;
                            text-decoration: none;
}

#footer a:hover {
                  color: #036;
}

#footer img {
              padding: 0.3em 0 0 0;
              width: 7.13em;
              height: 1.33em;
}

#content #indexview { 
                      padding: 2em 2em 0 2em;
}

#content #indexview #text { 
                            padding: 4em 0 0 0;
                            float: left;
                            width: 25em;
                            vertical-align: middle;
                            text-align: center;
                            margin: 0 auto;
}

#content #indexview #text #title { 
                                   margin: 0 auto;
                                   width: 6.85em;
}

#content #indexview #text h1 { 
                               color: #3e5a8b;
                               font-size: 1.8em;
                               text-decoration: underline;
                               float: left;
}

#content #indexview #text span { 
                                 font-size: 0.6em;
                                 float: left;
}

#content #indexview #text h2 {
                               margin: 0;
                               color: #3e5a8b;
                               font-size: 1.2em;
                               font-weight: normal;
}

#content #indexview #text #intro { 
                                   text-align: left;
}

#content #indexview img { 
                            float: left;
}

#faq a:link, a:visited {
                         color: #4183c4;
                         text-decoration: none;
}

#faq a:hover { 
               color: #4183c4;
               text-decoration: underline;
}

#faq #faqitem { 
                padding: 1em;
                font-size: 0.8em;
}