#job-content { 
           font-size: 0.8em;
           margin: 1.0em 1.0em 1.0em 1.0em;
}

#job-content a { 
               color: #4183c4;
               text-decoration: none;
}

#job-content a:hover { 
               text-decoration: underline;
}

#jobform { 
            border: 1px solid #bedce7;
            margin: 0 0 1.0em 0;
            background: #eaf2f5;
}

#details { 
           padding: 0.3em;
           margin: 0 0 1.0em 0;
           border: 1px solid #d8d8d8;
           background-color: #f0f0f0;
}

#details .title { 
              font-weight: bold;
              padding: 0 0 0.4em 0;
}

#details .title .name { 
                        float: left;
}

#details .title .tools {
                         float: right;
}

#details .details {
                padding: 0 0 0 1.0em;
}

#details .details .icon {
                      float: left;
}

#details .details .icon img { 
                          border: 1px solid #d0d0d0;
                          padding: 2px;
                          width: 2.46em;
                          height: 2.46em;
}

#details .details .status { 
                            margin: 0.2em 0 0 0;
                            float: left;
                            padding: 0 0 0 1.5em;
                            width: 16em;
}

#details .details .description { 
                                 margin: 0.2em 0 0 1em;
                                 float: left;
                                 width: 48em;
}

#output { 
           padding: 0.3em;
           margin: 0 0 1.0em 0;
           border: 1px solid #d8d8d8;
           background-color: #f0f0f0;
}

#output .title { 
                 font-weight: bold;
                 padding: 0 0 0.4em 0;
}

#output .name { 
 
}

#output .value { 
                 padding: 1em;
                 font-size: 1.8em;
}

#output .value pre { 
                     overflow: auto;
                     padding: 0 0 1em 0;
                     margin: 0;
                     /* IE6 width: 47.2em; */
                     width: 52.7em;
}

#output .value iframe { 
                        border: 1px solid #ccc;
                        width: 38.2em;
                        padding: 0.5em;
}