.login-box { 
             font-size: small;
             border: #81abd4 1.2em solid;
             width: 31em;
             margin: 2.5em auto;
             background: #eaf2f5;
             padding: 2.0em 2.0em 2.0em 2.0em;
}

.errorbox {
            background: #ffebe8;
            border: 1px solid #dd3c10;
            font-weight: bold;
            padding: 1em;
}

label { 
        display: block;
        margin: 1em 0 0 0;
}

#login-fields input { 
                      padding: 0.4em 0.4em 0.4em 0.4em;
                      width: 97.3%;
                      border:1px solid #ccc; 
}

#login-buttons { 
                 height: 3em;
}

#login-buttons input { 
                       float: right;
}

