#profile { 
             font-size: 0.8em;
             margin: 1.0em;
}

#infoform { 
            padding: 1.0em 1.5em;
            border: 1px solid #bedce7;
            background: #eaf2f5;
            width: 50%;
            float: left;
}

#infoform #fields label {
                 color: #666;
                 font-size: 1.2em;
                 padding: 0em 1.5em 0.5em 0em;
                 width: 26em;
}

#infoform #fields #textfields input,
#messagebox>form>label>input, 
#messagebox>form>label>textarea {
                                  border: 1px solid #bedce7;
                                  padding: 0.2em;
                                  width: 98%;
}

#submitrow { 
                       padding: 1em 0 0 0;
                       float: left;
                       width: 40%;
}

#saved { 
                   padding: 1.5em 0 0 0;
                   width: 40%;
                   float: right;
                   text-align: right;
}

#more { 
        width: 43%;
        padding: 1.0em 0 1em 1.5em;
        margin: 0 0 1em 0;
        float: left;
}

#more img {
            width: 0.75em;
            height: 0.75em; 
 }

#profile a, #profile a:visited { 
                                 color: #4183c4;
                                 text-decoration: none;
                                 font-weight: normal;
}

#profile a:hover { 
               text-decoration: underline;
}

#passwordchange, #messagebox { 
                  margin: 0 0 0 1.5em;
                  padding: 1em;
                  border: 1px solid #bedce7;
                  background: #eaf2f5;
                  width: 40.5%;
                  float: left;
}

#passwordchange #field { 
                         padding: 0 0 0.2em 0;
}

#passwordchange .error { 
                         color: #a00;
}

#passwordchange .error #errortext { 
                                    float: right;
                                    text-align: right;
}

#passwordchange .error input { 
                               border: 1px solid #a00 !important;
                               background-color: #f2e1e1;
}

#passwordchange #field label { 
                               float: left;
}

#passwordchange #field input { 
                               float: right;
                               width: 60%;
                               border: 1px solid #bedce7;
                               padding: 0.2em;
}

#avatar { 
          padding: 1em;
          float: left;
}

#avatar img { 
              border: 1px solid #ccc;
              padding: 2px;
              width: 3.72em;
              height: 3.72em;
              }

#userdetails { 
               padding: 1em;
               float: left;
}