<div id="footer">
    <div class="copywrite">
        Created By Tristan King<br/>
        Copyright © 1995 to 2007, James Cook University. All rights reserved.<br/>
        <a href="http://www.jcu.edu.au/top/jcuprd_013723.html">Terms of use</a> | <a href="http://www.jcu.edu.au/privacy/">Privacy statement</a>
    </div>
    <table class="logos" style="margin-left: auto; margin-right: auto;">
        <tr><td><a href="http://www.djangoproject.com" target="_blank"><img src="{{ MEDIA_URL}}img/logos/django-powered.png" alt="Django"/></a></td>
            <td><a href="http://www.jython.org" target="_blank"><img src="{{ MEDIA_URL }}img/logos/jython-powered.png" alt="Jython"/></a></td>
            <td><a href="http://www.kepler-project.org" target="_blank"><img src="{{ MEDIA_URL }}img/logos/kepler-powered.png" alt="Kepler"/></a></td>
            <td><a href="http://www.extjs.com" target="_blank"><img src="{{ MEDIA_URL }}img/logos/extanim16.gif" alt="ExtJS"/></a></td>
        </tr>
    </table>
</div>

