<div id="welcome">
    <h3>What is Hydrant?</h3>
    <p>Hydrant is a project aiming to create a Web portal for executing kepler workflows.<br/>
    The project is currently still in the proof of concept stage</p>
    <p>You can log in to play with things using either of the following logins<br/>
    Username: designer, Password: test<br/>
    Username: scientist, Password: test</p>
    <p>The designer user reflects the type of user who is kepler savvy and would be responsible for building and deploying workflows for the scientist. The designer can upload workflows and set up <i>exposed parameters</i>, and other properties relevent to the workflow to make it easy for scientists to use.</p>
    <p>The scientist user reflects the type of user who just wants to run workflows and doesn't want to have to learn how kepler works or how to use it. The scientist only has access to select and execute avaliable workflows.</p>
    <p>Best viewed using <a href="http://www.mozilla.com/en-US/firefox/">Firefox</a> &gt;= 2.0 (i.e. looks terrible, and doesn't work right in other browsers. Compatibility is high on the to-do list)</p>
    <p>Development info availiable on the <a href="https://dev.archer.edu.au/projects/kepler/wiki/WebPortal">kepler @ jcu trac</a></p>
</div>
