<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
{% load rooturl %}
{% load advanced_messaging %}
{% setup_advanced_messaging %}
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}">
    <head>
        <title>{% block title %}{{ title|escape }}{% endblock %}</title>
		  {% block links %}
		  <link href="/{% root_url %}media/css/base.css" type="text/css" rel="stylesheet" />
		  <link href="/{% root_url %}media/css/dashboard.css" type="text/css" rel="stylesheet" />
		   <link href="/{% root_url %}media/css/changelist.css" type="text/css" rel="stylesheet" />
           <link href="/{% root_url %}media/css/widgets.css" type="text/css" rel="stylesheet" />
			
			{% endblock %}
        <style type="text/css">
            


            {% block extrastyle %}{% endblock %}
        </style>
        <script type="text/javascript" src="/{% root_url %}admin/jsi18n/"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/prototype.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/core.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/SelectBox.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/SelectFilter2.js"></script>
        <script type="text/javascript">
            count = 0
            function append_message(message, klass, url) {
                count += 1;
                message_id = 'message_number_' + count;
                str = '<li id="' + message_id + '" class="' + klass + '">';
                if (url != null) {
                    str += '<a href="' + url + '">' + message + '</a>';
                } else {
                    str += message;
                }
                str += ' <a href="#" onClick="destroy_message(\'' + message_id + '\')">(click here to dismiss)</a></li>';
                $('messagelist').insert(str);
            }
            function destroy_message(id) {
                $(id).remove();
            }

        </script>
        {% block extrahead %}{% endblock %}
        {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
    </head>
{% load i18n %}

<body class="{% block bodyclass %}{% endblock %}" {% block extrabodyparams %}{% endblock %}>
<!-- Container -->
<div id="container">
    <!-- Header -->
    <div id="header">
        <div id="branding">
            {% block branding %}{% endblock %}
        </div>
        <div id="user-tools">
            {% if user.is_authenticated %}
                Welcome <strong>{% if user.first_name %}{{ user.first_name|escape }}{% else %}{{ user.username }}{% endif %}</strong>.
            {% endif %}
            {% block userlinks %}
                {% if user.is_authenticated %}
                    <a href="{% url dashboard %}">Dashboard</a>
                    |
                {% endif %}
                    <a href="{% url workflows %}">Workflows</a>
                    |
                {% if user.is_authenticated %}
                    <a href="{% url jobs %}">Jobs</a>
                    |
                    <a href="{% url notifications %}">Notifications (2)</a>
                    |
                    <a href="{% url logout_view %}">Log out</a>
                {% else %}
                    <a href="{% url login_view %}">Log in</a>
                {% endif %}
            {% endblock %}
        </div>
        {% block nav-global %}{% endblock %}
    </div>
    <!-- END Header -->
    {% block breadcrumbs %}
            {% if crumbs %}
        <div id="breadcrumbs">
                <a href="{% url dashboard %}">Dashboard</a>
                {% for crumb in crumbs %}
                    {% ifequal crumb '' %}{% else %}
                        &rsaquo; <a href="{{ crumb.path }}">{{ crumb.name }}</a>
                    {% endifequal %}
                {% endfor %}
                &rsaquo;
            {{ title|escape }}
        </div>
            {% endif %}
    {% endblock %}
    <div id="messagelistblock">
    <ul id="messagelist" class="messagelist"></ul>
    </div>
    <div id="object-tools">
        {% block object-tools %}{% endblock %}
    </div>
    <!-- Content -->
    <div id="content">
        {% block content %}
        {{ content }}
        {% endblock %}
        {% block sidebar %}{% endblock %}
        <br class="clear" />
    </div>
    <!-- END Content -->

    {% block footer %}
    <div id="footer">
        <div class="copywrite">
        Created By Tristan King<br/>
        Copyright © 1995 to 2007, James Cook University. All rights reserved.<br/>
        <a href="http://www.jcu.edu.au/top/jcuprd_013723.html">Terms of use</a> | <a href="http://www.jcu.edu.au/privacy/">Privacy statement</a>
        </div>
        <table class="logos" style="margin-left: auto; margin-right: auto;">
            <tr>
                <!-- td><a href="http://www.jcu.edu.au/"><img src="http://www.jcu.edu.au/idc/groups/public/documents/webgraphics/jcu_banner_logo_07.gif" alt="James Cook University"/></a></td -->
                <td><a href="http://www.djangoproject.com"><img src="{{ MEDIA_URL}}img/logos/django-powered.png" alt="Django"/></a></td>
                <td><a href="http://www.jython.org"><img src="{{ MEDIA_URL }}img/logos/jython-powered.png" alt="Jython"/></a></td>
                <!--td><a href="http://www.python.org"><img src="http://www.python.org/community/logos/python-powered-w-70x28.png" alt="Python"/></a></td-->
                <td><a href="http://www.kepler-project.org"><img src="{{ MEDIA_URL }}img/logos/kepler-powered.png" alt="Kepler"/></a></td>
                <!--td><a href="http://archer.edu.au"><img src="{{ MEDIA_URL }}images/archer.png" alt="Archer"/></a></td-->
            </tr>
        </table>
    </div>
    {% endblock %}

    <!-- END Container -->
    </div>
    <script type="text/javascript">
        <!--

    {% if messages %}
    {% for message in messages %}
    append_message('{{ message.message|escape }}', {% ifequal message.type 'ERROR' %}'bad'{% else %}'good'{% endifequal %});
    {% endfor %}
    {% endif %}
        -->
    </script>
</body>
</html>
