    <style>
        .areyousure { float:left; background: #FFF; border: 1px solid #CCC; padding: 10px; text-align: center; }
        .forms th, .forms td { border: 1px solid #CCC; }
    </style>
    <div class="areyousure">
    <p>Are you sure you want to delete the workflow "{{ workflow.name }}"?</p>
    <form action="{% url delete_workflow workflow.pk %}" method="post">
    <div style="border: 1px #CCC solid;" class="submit-row">
        <input type="submit" value="Yes, I'm sure" class="default[type='submit']"/>
        <input type="button" value="No, I'm Not" class="default[type='submit']" onClick="set_visibility(0, 'parameters-div');set_parameters_to_none();"/>
        <input type="hidden" name="post" value="yes" />
    </div>
    <div style="clear: left;"></div>

    </form>
