{% extends "kepler/base_site.html" %}

{% block extrastyle %}
.errornote { font-size:12px !important; display:block; padding:4px 5px 4px 25px; margin:0 0 3px 0; border:1px solid red; color:red;background:#ffc url(/media/img/kepler/icon_error.gif) 5px .3em no-repeat; }
{% endblock %}
{% block content %}
{% if form.has_errors %}
<p class="errornote">invalid username and/or password</p>
{% endif %}
<div id="content-main">
<h1>Log in</h1>
<form action="" method="post" id="login-form">
<table>
<tr><td><label for="id_username">Username:</label></td><td>{{ form.username }}</td></tr>
<tr><td><label for="id_password">Password:</label></td><td>{{ form.password }}</td></tr>
</table>

<input type="submit" value="Login" />
<input type="hidden" name="next" value="{% if next %}{{ next }}{% else %}{% url dashboard %}{% endif %}" />

</form>

<script type="text/javascript">
document.getElementById('id_username').focus()
</script>
</div>
{% endblock %}
