<div>
    <style>
        .props { background: #FFF; border: 1px solid #CCC; padding: 10px; margin: 2px auto; text-align: center; }
        .forms th, .forms td { border: 1px solid #CCC; }
    </style>
    <table class="props"><tr><td>
    <h1>Parameters for {{ actor.name }}</h1>
    </td></tr><tr><td>
    {% if messages %}
    <ul class="messagelist">{% for message in messages %}<li>{{ message|escape }}</li>{% endfor %}</ul>
    </td></tr><tr><td>
    {% endif %}
    <form id="{{ actor.name }}_parameters_form" method="get" action="">
    <div>
        <table class="forms">
            <th>Name</th><th>Value</th><th>Expose to user</th><th>Description</th>
            {% for field in form %}
            {% ifequal field.label 'Name' %}
            <tr><td>{{ field }}</td>
            {% else %}
                {% ifequal field.label 'Value' %}
                <td>{{ field }}</td>
                {% else %}
                    {% ifequal field.label 'Expose to User' %}
                    <td>{{ field }}</td>
                    {% else %}
                        <td>{{ field }}</td></tr>
                    {% endifequal %}
                {% endifequal %}
            {% endifequal %}
            {% endfor %}
        </table>
    </div>
    <div style="border: 1px #CCC solid;" class="submit-row">
        <input type="button" value="Apply" class="default[type='submit']" onClick="set_properties('{{ url }}', '{{ actor.name }}', 0);"/>
        <input type="button" value="Save" class="default[type='submit']" onClick="set_properties('{{ url }}', '{{ actor.name }}', 1);"/>
        <input type="button" value="Close" class="default[type='submit']" onClick="set_visibility(0, 'properties-div');set_properties_to_none();"/>
    </div>
    </form>
    </td></tr></table>
</div>
