{% extends "kepler/base_site.html" %}
{% load i18n %}
{% block extrastyle %}
    #content { margin: 10px 15px; padding: 0 0; }
    .module {
        background: white;
        border: 1px solid #ccc;
    }
    .module p {
        padding-left: 10px;
        padding-right: 10px;
    }
    .module table {
        border-collapse: collapse;
    }
    #changelist #toolbar {
        padding: 3px;
        border-bottom: 1px solid #ddd;
        background: #e1e1e1 url({{ MEDIA_URL }}img/kepler/nav-bg.gif) top left repeat-x;
        color: #666;
    }
    #changelist #toolbar form input { font-size:11px; padding:1px 2px; }
    #changelist #toolbar form #searchbar { padding:2px; }
    #changelist #changelist-search img { vertical-align:middle; }
    #changelist table {
        width: 100%;
    }
    th {
        text-align: left;
        font-weight: bold;
        font-size: 12px;
    }
    td a {
        font-weight: bold;
    }
    td, th {
        line-height: 13px;
        border-bottom: 1px solid #eee;
        vertical-align: top;
        padding: 5px;
        font-family: "Lucida Grande", Verdana, Arial, sans-serif;
    }
    thead th, tfoot td {
        color: #666;
        padding: 2px 5px;
        font-size: 11px;
        background: #e1e1e1 url({{ MEDIA_URL }}img/kepler/nav-bg.gif) top left repeat-x;
        border-left: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
    }
    thead th:first-child, tfoot td:first-child {
        border-left:none !important;
    }
    thead th a:link, thead th a:visited {
        color: #666;
        display:block;
    }
    .row1 { background: #EDF3FE; }
    .row2 { background: white; }

    .quiet, a.quiet:link, a.quiet:visited { color:#999 !important;font-weight:normal !important; }
    .small { font-size: 11px }

    #changelist .paginator { color:#666; border-top:1px solid #eee; border-bottom:1px solid #eee; background:white url({{ MEDIA_URL }}img/kepler/nav-bg.gif) 0 180% repeat-x; overflow:hidden; }
    #changelist table tbody td { border-left: 1px solid #ddd; }

    .paginator { font-size:11px; padding-top:10px; padding-bottom:10px; line-height:22px; margin:0; border-top:1px solid #ddd; }
    .paginator a:link, .paginator a:visited { padding:2px 6px; border:solid 1px #ccc; background:white; text-decoration:none; }
    .paginator a.showall { padding:0 !important; border:none !important; }
    .paginator a.showall:hover { color:#036 !important; background:transparent !important; }
    .paginator .end { border-width:2px !important; margin-right:6px; }
    .paginator .this-page { padding:2px 6px; font-weight:bold; font-size:13px; vertical-align:top; }
    .paginator a:hover { color:white; background:#5b80b2; border-color:#036; }
{% endblock %}
{% block content %}
<h1>{{ title|escape }}</h1>
<div class="module" id="changelist">
    <div id="toolbar"><form id="changelist-search" action="" method="get">
    <div>
        <label for="searchbar"><img src="{{ MEDIA_URL }}img/kepler/icon_searchbox.png" alt="Search"/></label>
        <input type="text" size="40" name="{{ search_var }}" value="{{ query|escape }}" id="searchbar" />
        <input type="submit" value="Search"/>
        {% if show_result_count %}<span class="small quiet">{% blocktrans count result_count as counter %}1 result{% plural %}{{ counter }} results{% endblocktrans %} (<a href="?">{{ full_result_count }} total</a>)</span>{% endif %}
    </div>
    </form></div>
    <table cellspacing="0">
        <thead>
            <tr>
                {% for header in result_headers %}
                <th{{ header.class_attrib }}>
                    {% if header.sortable %}<a href="{{ header.url }}">{% endif %}
                    {{ header.text|capfirst }}
                    {% if header.sortable %}</a>{% endif %}
                </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for result in results %}
            <tr class="{% cycle 'row1' 'row2' %}">
                {% for item in result %}
                <td>
                {% if item.url %}<a href="{{ item.url }}">{% endif %}
                {{ item.text|escape }}
                {% if item.url %}</a>{% endif %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p class="paginator">
    {% if pagination_required %}
    {% for p in pages %}
    {% if p.url %}
        <a href="{{ p.url }}" {% if p.last_page %}class="end"{% endif %}>{{ p.num }}</a>
    {% else %}
        <span class="this-page">{{ p.num }}</span>
    {% endif %}
    {% endfor %}
    {% endif %}
    {{ full_result_count }} {{ title|escape }}
    </p>

</div>
{% endblock %}
