<style>
	    div.table {
			    display: table;
	    		border-width: 1px;
	    		border-style: outset;
	    		border-spacing: 0px;
	    		width: 100%;
	    }
	    div.tr {
	    		display: table-row;
	    		border-width: 1px;
	    		border-style: inset;
	    		border-padding: 3px;
	    }
	    div.td {
	    		display: table-cell;
	    		border-width: 1px;
	    		border-style: inset;
	    		border-padding: 3px;
	    }
</style>
<h4>Properties for actor: {{ actor.name }}</h4>
<div class="table">
{% for property in actor.properties %}
	<div class="tr">
		<div class="td" id="{{ property.id }}">{{ property.name }}</div>
		<div class="td">{{ property.value }}</div>
	</div>
{% endfor %}
</div>