{% extends "webportal/base.html" %}
{% if results.workflow %}
	{% block title %}
		{% if results.workflow.base_workflow %}{{ results.workflow.base_workflow }}:{% endif %}{{ results.workflow.name }}
	{% endblock %}
	{% block extrahead %}
		<style>
		.annotation { position: absolute; 
	    }
	 	.director { position: absolute; 
					font-size: small; 
					font-family: sans-serif;
	    }
	    .crumbs {   font-size: small; 
					font-family: sans-serif;
	    }
		.actor { position: absolute;
				 font-size: small;
				 font-family: sans-serif;
		}
	    .compactor { position: absolute; 
					 font-size: small;
					 font-family: sans-serif;
		}
		
		a img { border: 0; }
		
	  	.vertex { position: absolute; 

	    	    }
	   	.port { position: absolute; 
				font-size: small;
				font-family: sans-serif;
	    	    }

	    table.main {
	    		border-width: 1px;
	    		border-style: outset;
	    		border-spacing: 0px;
	    		width: 100%;
	    }
	    table.main tr {
	    		border-width: 0px;
	    		border-style: inset;
	    		border-padding: 3px;
	    }
	    table.main td {
	    		border-width: 0px;
	    		border-style: inset;
	    		border-padding: 3px;
	    		vertical-align:
	    }
	    div.small {
	    	border-width: 0px;
	    	border-spacing: 0px;
	    	border-padding: 0px;
	    	display: table;
	    	vertical-align: middle;
	    }
	    div.smalltr {
	    	border-width: 0px;
	    	border-spacing: 0px;
	    	border-padding: 0px;
	    	display: table-row;
	    	vertical-align: middle;
	    }
	    div.smalltd {
	    	border-width: 0px;
	    	border-spacing: 0px;
	    	border-padding: 0px;
	    	display: table-cell;
	    	vertical-align: middle;
	    }
	    </style>
	    <script type="text/javascript">

	    	{% if results.workflow.base_workflow %}
	    		workflow='{{ results.workflow.base_workflow }}/';
	    		path = '{{ results.workflow.name }}/'
	    	{% else %}
	    		workflow='{{ results.workflow.name }}/';
	    		path = ''
	    	{% endif %}
    		{% if results.workflow.crumbs %}
    			path = '{{ results.workflow.name }}/'
    			{% for crumb in results.workflow.crumbs %}
    				path += '{{ crumb }}/';
    			{% endfor %}
    		{% else %}
    		{% endif %}
	    	function update_properties(actorname) {
	    		new Ajax.Updater('properties', '/webportal/workflow/' + workflow + 'properties/' + path + actorname + '/', {asynchronous:true});
	    		//alert('/' + workflow + 'getproperties/' + path + actorname + '/');
	    		
	    	}
	    </script>
	{% endblock %}
	{% block header %}
	<p><a href="{% url index_view %}">home</a>{% if results.workflow.base_workflow %}</p><p class="crumbs"><a href="{% url workflow_view workflow_id=results.workflow.base_workflow %}">base workflow</a> {% endif %}
	{% if results.workflow.crumbs %}
		{% for crumb in results.workflow.crumbs %}
			: <a href="{% url composite_view workflow_id=results.workflow.base_workflow,composite_path=crumb.path %}">{{ crumb.name }}</a>
		{% endfor %}
	{% endif %}</p>
	{% endblock %}
	{% block body %}
		{% include "webportal/includes/canvas.html" %}
	{% endblock %}
{% else %}
		<p>No Workflow available</p>
{% endif %}