{% extends "webportal/base.html" %}
{% if workflow %}
	{% block title %}
		{% if workflow.base_workflow %}{{ workflow.base_workflow }}:{% endif %}{{ workflow.name }}
	{% endblock %}
	{% block extrastyle %}
	 	.director { position: absolute; 
					font-size: small; 
	    }
		.actor { position: absolute;
				 font-size: small;
		}
	    .compactor { position: absolute; 
					 font-size: small;
		}
	  	.vertex { position: absolute; 

	    	    }
	   	.port { position: absolute; 

	    	    }
	    table.debug {
	    		border-width: 1px;
	    		border-style: outset;
	    		border-spacing: 0px;
	    }
	    table.debug tr {
	    		border-width: 1px;
	    		border-style: inset;
	    		border-padding: 3px;
	    }
	    table.debug td {
	    		border-width: 1px;
	    		border-style: inset;
	    		border-padding: 3px;
	    }
	{% endblock %}   
	{% block header %}
	<p><a href="{% url index_view %}">home</a>{% if workflow.base_workflow %} | <a href="{% url workflow_view workflow_id=workflow.base_workflow %}">base workflow</a> {% endif %}{% if workflow.parent %} | <a href="{% url composite_view workflow_id=workflow.base_workflow,actor_path=workflow.parent %}">up one level</a>{% endif %}</p>
	{% endblock %}
	{% block canvas %}
	<div class="canvas" id="mainCanvas" style="width: 800px; height: 600px; border: 1px solid black;">
	{% if workflow.director %}
		<div class="director draggable" 
				onDblclick="alert('double clicked')" 
				style="left: {{ workflow.director.location.x }}px; top: {{ workflow.director.location.y }}px">
			<img id="{{ workflow.director.name }}" class="block" src="/media/images/director.png"/>
			<div>{{ workflow.director.name }}</div>
		</div>
	{% endif %}
	{% for actor in workflow.actors %}
		<div class="actor draggable"  
			style="left: {{ actor.location.x }}px; top: {{ actor.location.y }}px">
			<img id="{{ actor.name }}" class="block" src="/media/images/basic-actor.png"/>
			<div style="overflow: auto">{{ actor.name }}</div>
		</div>
	{% endfor %}
	
	{% for actor in workflow.compositeactors %}
		<div class="compactor draggable" 
			style="left: {{ actor.location.x }}px; top: {{ actor.location.y }}px">
			<a style="cursor: pointer;" href="{% if workflow.base_workflow %}{% else %}composite/{{ workflow.name }}/{% endif %}{{ actor.name }}"><img id="{{ actor.name }}" class="block" src="/media/images/composite.png"/></a>
			<div style="overflow: auto">{{ actor.name }}</div>
		</div>
	{% endfor %}
	
	{% for port in workflow.ports %}
		<div class="port draggable" 		
			style="left: {{ port.location.x }}px; top: {{ port.location.y }}px">
			<img class="block" id="{{ port.name }}" src="/media/images/in-port.png"/>
		</div>
	{% endfor %}
	
	{% for vertex in workflow.vertices %}
		<div class="vertex draggable"
			style="left: {{ vertex.location.x }}px; top: {{ vertex.location.y }}px">
			<img class="block" id="{{ vertex.name }}" src="/media/images/vertex.png"/>
		</div>
	{% endfor %}
	{% for connection in workflow.connections %}
		<div class="connector {{ connection.start }} {{ connection.end }}"></div>
	{% endfor %}
	</div>
	{% endblock %}
	{% block footer %}
		<table class="debug">
		{% for i,j in workflow.items %}
			<tr><td>{{ i }}</td><td>{{ j }}</td></tr>
		{% endfor %}
		</table>
	{% endblock %}
{% else %}
		<p>No workflow available</p>
{% endif %}