{% extends "index.html" %}
{% load rooturl %}
{% load gravatar %}
{% load textutils %}
{% load messageprocessing %}
{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/dashboard.css"/>
{% endblock %}

{% block content %}
<div id="dashboard">
  <div id="col-one">
  <div id="news">
    <h1>Messages</h1>
    {% for msg in messages %}
    <div class="thing">
    <div class="title">
      {% ifequal msg.fromuser.username 'system' %}
      {% if msg.is_job %}
      The job <a href="{% url job msg.job.pk %}">{{ msg.job.name }}</a>
      {% msgverb user msg %}
      {% endif %}
      {% else %}
      <a href="#">{{ msg.fromuser.username }}</a>
      {% msgverb user msg %}
      {% if msg.is_job %}
      job
      <a href="{% url job msg.job.pk %}">{{ msg.job.name }}</a>.
      {% endif %}
      {% if msg.is_workflow %}
      workflow
      <a href="{% url workflow msg.workflow.pk %}">{{ msg.workflow.name }}</a>.
      {% endif %}
      {% endifequal %}
      {{ msg.date|timesince }} ago.
    </div>
    <div class="details">
    <div class="icon">
      {% ifequal msg.fromuser.username 'system' %}
      <img src="{{ MEDIA_URL }}/img/kepler-logo-32.png" alt="system"/>
      {% else %}
      <img src="{% gravatar_url msg.fromuser 32 %}" alt="{{ msg.fromuser.username }}"/>
      {% endifequal %}
      {% ifequal msg.touser.username 'system' %}
      <img src="{{ MEDIA_URL }}/img/kepler-logo-32.png" alt="system"/>
      {% else %}
      <img src="{% gravatar_url msg.touser 32 %}" alt="{{ msg.touser.username }}"/>
      {% endifequal %}
    </div>
    <div class="status">
      {% msgtext user msg 230 %}
    </div>
    <div style="clear: both;"></div>
    </div>
    </div>
    {% endfor %}
  </div>
  </div>
  <div id="col-two">
  <div id="small-jobs">
    <h1>Your Recent Jobs</h1>
    {% for job in jobs %}
    <div class="thing">
      <div class="icon">
	<img src="{{ MEDIA_URL }}/img/kepler-logo-32.png" alt="kepler job"/>
	<img src="{% gravatar_url job.owner 16 %}" alt="{{ job.owner.username }}"/>
      </div>
      <div class="title">
	<a href="{% url job job.id %}">{{ job.name }}</a>
      </div>
      <div style="clear: both;"></div>
      <div class="tools">
	{% if not job.start_date %}
	<a href="{% url job job.pk %}"><img src="{{ MEDIA_URL }}/img/icons/exec-16x16.png"/></a>
	<a href="#"><img alt="cancel job" src="{{ MEDIA_URL }}/img/icons/delete-16x16.png"/></a>
	{% else %}
	{% if not job.end_date %}
	<a href="#"><img alt="stop job" src="{{ MEDIA_URL }}/img/icons/delete-16x16.png"/></a>
	{% endif %}
	{% endif %}
	<a href="{% url job_create job.workflow.pk %}"><img alt="create job" src="{{ MEDIA_URL }}/img/icons/reload-16x16.png"/></a>
      </div>
      <div class="details">
      <div class="status">
	{% if job.end_date %}
	Ended {{ job.end_date|timesince }} ago.<br/>
	{% else %}
	{% if job.start_date %}
	Started {{ job.start_date|timesince }} ago.<br/>
	ETA: {{ job.get_eta|timeuntil_with_secs }}
	{% else %}
	{% if job.submission_date %}
	Submitted {{ job.submission_date|timesince }} ago.<br/>
	{% else %}
	Created {{ job.creation_date|timesince }} ago.<br/>
	{% endif %}
	{% endif %}
	{% endif %}
	{% ifequal job.status 'DONE' %}
	{% else %}
	{% endifequal %}
      </div>
      <div style="clear: both;"></div>
      </div>
    </div>
    {% endfor %}
  </div>
  
  <div id="small-workflows">
    <h1>Your Workflows <a href="{% url upload_workflow %}">(upload new)</a></h1>
    {% for w in workflows %}
    <div class="thing">
      <div class="icon">
	<img src="{{ MEDIA_URL }}/img/kepler-logo-32.png" alt="kepler workflow"/>
	<img src="{% gravatar_url w.owner 16 %}" alt="{{ w.owner.username }}"/>
      </div>
      <div class="title">
	<a href="{% url workflow w.pk %}">{{ w.name }}</a>
      </div>
      <div style="clear: both;"></div>
      <div class="tools">
	<a href="{% url job_create w.pk %}"><img alt="create job" src="{{ MEDIA_URL }}/img/icons/exec-16x16.png"/></a>
	<a href="{% url workflow w.pk %}"><img alt="setup workflow" src="{{ MEDIA_URL }}/img/icons/prefs-16x16.png"/></a>
	<a href="#"><img alt="delete workflow" src="{{ MEDIA_URL }}/img/icons/delete-16x16.png"/></a>
      </div>
      <div class="details">
	<div class="status">
	  {{ w.description|truncate_to_len:140 }}
	</div>
      </div>
      <div style="clear: both;"></div>
    </div>
    {% endfor %}
  </div>
  </div>
  <div style="clear: both;"></div>
</div>
{% endblock %}