{% extends "index.html" %}
{% load rooturl %}
{% load gravatar %}
{% load textutils %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/dashboard.css"/>
{% endblock %}

{% block content %}
<div id="dashboard">
  <div id="col-one">
  <div id="news">
    <h1>Messages</h1>

    <div class="thing">
    <div class="title">
      Job
      <a href="#">jobname</a>
      started by
      <a href="#">{{ user.username }}</a>
      on
      {start_date}
    </div>
    <div class="details">
    <div class="icon">
      <img src="{{ MEDIA_URL }}/img/kepler-logo-32.png" alt="kepler job"/>
      <img src="{% gravatar_url user 32 %}" alt="{{ user.username }}"/>
    </div>
    <div class="status">
      Status: Running<br/>
      ETA: Unknown
    </div>
    <div style="clear: both;"></div>
    </div>
    </div>

    <div class="thing">
    <div class="title">
      Workflow
      <a href="#">{workflow_name}</a>
      uploaded by
      <a href="#">{{ user.username }}</a>
      on
      {creation_date}
    </div>
    <div class="details">
    <div class="icon">
      <img src="{{ MEDIA_URL }}/img/kepler-logo-32.png" alt="kepler job"/>
      <img src="{% gravatar_url user 32 %}" alt="{{ user.username }}"/>
    </div>
    <div class="status">
      oh my god... what the hell!? oh my god... what the hell!?
      oh my god... what the hell!? oh my god... what the hell!?
      oh my god... what the hell!? oh my god...
    </div>
    <div style="clear: both;"></div>
    </div>
    </div>

    <div class="thing">
    <div class="title">
      <a href="#">trystn</a>
      commented on your job
      <a href="#">{job_name}</a>
    </div>
    <div class="details">
    <div class="icon">
       <img src="{% gravatar_url 'tristan.king@gmail.com' 32 %}" alt="{{ user.username }}"/>
    </div>
    <div class="larger-status">
      wow! that was one awesome job! filler filler filler filler filler filler
      filler filler filler filler filler filler filler filler filler filler
      filler filler filler
      OH MY GOD! IE6 YOU ARE WORTHLESS!
    </div>
    <div style="clear: both;"></div>
    </div>
    </div>

    
    
  </div>
  </div>
  <div id="col-two">
  <div id="small-jobs">
    <h1>Your Recent Jobs</h1>
    {% for job in jobs %}
    {% endfor %}
  <div class="thing">
  <div class="title">
    <a href="#">{jobname}</a>
    started by
    <a href="#">{{ user.username }}</a>
    on
    {start_date}
  </div>
  <div class="details">
  <div class="icon">
    <img src="{{ MEDIA_URL }}/img/kepler-logo-32.png" alt="kepler job"/>
    <img src="{% gravatar_url user 32 %}" alt="{{ user.username }}"/>
  </div>
  <div class="status">
    Status: Running<br/>
    ETA: Unknown
  </div>
  <div style="clear: both;"></div>
  </div>
  </div>

  <div class="thing">
  <div class="title">
    <a href="#">{jobname}</a>
    started by
    <a href="#">trystn</a>
    on
    {start_date}
  </div>
  <div class="details">
  <div class="icon">
    <img src="{{ MEDIA_URL }}/img/kepler-logo-32.png" alt="kepler job"/>
    <img src="{% gravatar_url 'tristan.king@gmail.com' 32 %}" alt="trystn"/>
  </div>
  <div class="status">
    Status: Running<br/>
    ETA: Unknown
  </div>
  <div style="clear: both;"></div>
  </div>
  </div>
  
  </div>
  <div id="small-workflows">
    <h1>Your Workflows <a href="{% url upload_workflow %}">(upload new)</a></h1>
    {% for w in workflows %}
    <div class="thing">
      <div class="title">
	<a href="#">{{ w.name }}</a>
      </div>
      <div class="details">
	<div class="icon">
	  <img src="{{ MEDIA_URL }}/img/kepler-logo-32.png" alt="kepler workflow"/>
	  <img src="{% gravatar_url w.owner 32 %}" alt="{{ w.owner.username }}"/>
	</div>
	<div class="status">
	  {{ w.description|truncate_to_len:140 }}
	</div>
	<div style="clear: both;"></div>
      </div>
    </div>
    {% endfor %}
  </div>
  </div>
  <div style="clear: both;"></div>
</div>
{% endblock %}
<div class="dashboard-block-container">
    <div>
    <div class="dashboard-block">
        <div class="module">
            <h2>Bookmarked Jobs</h2>
            {% if recent_workflows %}
                {% for workflow in recent_workflows %}
                <p><a class="name" href="{% url workflow_view workflow.pk %}">{{ workflow.name }}</a></p>
                {% endfor %}
            {% else %}
                <p>No Bookmarked Jobs</p>
            {% endif %}
        </div>
        <div class="module">
            <h2>Bookmarked Workflows</h2>
            {% if workflows %}
                {% for workflow in workflows %}
                    <p><a class="name" href="{% url workflow_view workflow.pk %}">{{ workflow.name }}</a></p>
                {% endfor %}
            {% else %}
                <p>No Bookmarked Workflows</p>
            {% endif %}
        </div>
    </div>
    <div class="dashboard-block">
        <div class="module">
            <h2>Recent Jobs</h2>
            {% if jobs %}
                {% for job in jobs %}
                <p><a href="{% url job_details_view job.pk %}">{{ job.workflow.name }}</a><br/><small>submitted: {{ job.submission_date }} &nbsp; status: {{ job.status }}</small></p>
                {% endfor %}
            {% else %}
                <p>You have no Jobs</p>
            {% endif %}
        </div>
    </div>
    <div class="dashboard-block">
        <div class="module">
            <h2>Notifications</h2>
            {% if notifications %}
                {% for note in notifications %}
                     <p><a href="{% url job_view job.pk %}">{{ job.template.name }}</a></p>
                {% endfor %}
                {% else %}
                <p>You have no notifications</p>
            {% endif %}
        </div>
    </div>
</div>
</div>
