<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15">
<title>Hydrant is down</title>
<style>
body {
background-color: white;
color: black;
text-align: center;
}
small {
font-size: xx-small;
}
</style>
</head>

<body>
<h1>Hydrant is down</h1>
<p>
<img title="image from http://www.flickr.com/photos/wallyg/535376084/" src="http://farm2.static.flickr.com/1044/535376084_0feb1e4e64.jpg?v=0"><br/>
</p>
<p>
Hydrant is having technical difficulties and will be back as soon as the issues have been resolved.
</p>
<form action="http://groups.google.com/group/hydrant-kepler/boxsubscribe">
Subscribe to the <a href="http://groups.google.com/group/hydrant-kepler">Hydrant mailing list</a> to get updates.<br/>
Enter your email address: <input class="text" type="text" size="15" name="email"/> <input class="button" type="submit" value="Subscribe"/>
</form>
</body> </html>
