{% load textutils %}
{% load gravatar %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15">
<title>Hydrant</title>
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/hydrant.css"/>
{% block extrastyle %}{% endblock %}
</head>

<body {% block bodyattrs %}{% endblock %}>
<div class="site">
<div id="header">
<div id="toolbar">
  <div class="tools">
    {% if user.is_authenticated %}
    <div class="toollink">
      <a href="{% url logout %}">Log out</a>
    </div>
    {% else %}
    {% block loginlink %}<div class="toollink"><a href="{% url login %}">Log in</a></div>{% endblock %}
    {% block signuplink %}<div class="toollink"><a href="{% url signup %}">Sign up</a></div>{% endblock %}
    {% endif %}

    {% block faqlink %}<div class="toollink"><a href="{% url faq %}">FAQ</a></div>{% endblock %}
    {% comment %}
    {% if user.is_superuser %}
    {% block adminlink %}<div class="toollink"><a href="#">Administration</a></div>{% endblock %}
    {% endif %}
    {% block forumlink %}<div class="toollink"><a href="{% url forum_index %}">Forum</a></div>{% endblock %}
    {% endcomment %}
    {% if user.is_authenticated %}
    {% block profilelink %}<div class="toollink"><a href="{% url profile user.username %}">Profile</a></div>{% endblock %}
    {% block jobslink %}<div class="toollink"><a href="{% url jobs %}">Jobs</a></div>{% endblock %}
    {% block workflowslink %}<div class="toollink"><a href="{% url workflows %}">Workflows</a></div>{% endblock %}
    {% block dashboardlink %}<div class="toollink"><a href="{% url dashboard %}">Dashboard</a></div>{% endblock %}
    {% endif %}
  </div>
</div>
<div id="logo">
  <!--[if IE]><a href="{% url about %}"><img src="{{ MEDIA_URL }}/img/hydrant-logo-filled.gif" alt="hydrant"/></a><![endif]-->
  <!--[if !IE]>--><a href="{% url about %}"><img src="{{ MEDIA_URL }}/img/hydrant-logo-filled.png" alt="hydrant"/></a><!--<![endif]-->
</div>
<div id="userbox">
  <div id="gravatar">
    <a href="{% url home %}">
    {% if user.is_authenticated %}
    <img src="{% gravatar_url user 48 %}" alt="gravatar"/>
    {% else %}
    <img src="{{ MEDIA_URL }}/img/hydrant-icon-48.png" alt="gravatar"/>
    {% endif %}
    </a>
  </div>
  <div id="username">
    {% if user.is_authenticated %}
    <a href="{% url home %}">
    {% if user.first_name %}
    {{ user.first_name }} {{ user.last_name }}
    {% else %}
    {{ user.username }}
    {% endif %}
    </a>
    {% else %}
    <a href="#sad">Hydrant</a>
    {% endif %}
  </div>
</div>
</div>
<div id="content">
  {% block content %}
  <div id="indexview">
  <div id="text">
    <div id="title">
    <h1>Hydrant</h1>

    </div>
    <h2>{% random_saying %}</h2>
    <div id="intro">
      <h2>What is it?</h2>
      Hydrant brings <a href="http://www.kepler-project.org">Kepler</a>
      workflows to the web. It unlocks the shackles that have held
      <a href="http://www.kepler-project.org">Kepler</a> to the desktop
      platform, allowing it to flourish in a rich new web-based enviroment.
      <br/><br/>
      Hydrant provides the means for users to deploy their workflows to the web,
      which they can then run using Hydrant's execution server, providing faster
      execution as well as removing the possibility of failure due to desktop
      crashes.
      <br/><br/>
      Hydrant also provides some basic social networking features, allowing
      users to share their workflows and results with other users.
      <br/><br/>
      <center><a href="{% url screencast %}"><img class="screencast-button" alt="Take the Tour" src="{{ MEDIA_URL }}/img/screencast_button.png"/></a></center>
    </div>
  </div>
  <div style="float: right; margin: 2.8em 0 0 0;">
    <img class="screenshot" src="{{ MEDIA_URL }}/img/hydrant-screenshot.png"/>
  </div>
  <div style="clear: both;"></div>
  </div>
  {% endblock %}
</div>
<div id="footer">
  <div id="stuff">
    <div class="hostedby" style="float:left;">
      <div style="float:left; margin: 0 0.2em 0 0;">
      Hosted by:
      </div>      
      <div style="float:left;">
	<a href="http://www.hpc.jcu.edu.au"><img style="width: 6em; height: 5.11em;" src="{{ MEDIA_URL}}/img/logos/HPC-logo.gif" alt="High Preformance Computing James Cook University"/></a>
	<a href="http://eresearch.jcu.edu.au"><img style="width: 16.79em; height: 3.92em; border: 2px solid black;" src="{{ MEDIA_URL}}/img/logos/eresearch-logo.jpg" alt="JCU eResearch centre"/></a>
	<a href="http://www.jcu.edu.au"><img style="width: 9.85em; height: 5.37em;" src="{{ MEDIA_URL}}/img/logos/jcu_banner_logo.gif" alt="James Cook University"/></a>
      </div>
      <div style="clear: both;"></div>
    </div>
    <div class="poweredby" style="margin-left: auto; margin-right: auto; float:right;">
      <a href="http://www.djangoproject.com"><img src="{{ MEDIA_URL}}/img/logos/django-powered.png" alt="Django"/></a><br/>
      <a href="http://www.jython.org"><img src="{{ MEDIA_URL }}/img/logos/jython-powered.png" alt="Jython"/></a><br/>
      <a href="http://www.kepler-project.org"><img src="{{ MEDIA_URL }}/img/logos/kepler-powered.png" alt="Kepler"/></a><br/>
    </div>
    <div style="clear: both;"></div>
    <div class="discussion">
      <form action="http://groups.google.com/group/hydrant-kepler/boxsubscribe">
      Got Feedback? Suggestions? Need help?
      Subscribe to the <a href="http://groups.google.com/group/hydrant-kepler">Hydrant mailing list</a><br/>
      Enter your email address: <input class="text" type="text" size="15" name="email"/> <input class="button" type="submit" value="Subscribe"/>
      </form>
    </div>
    <div class="copywrite" style="float:left;">
      Created By Tristan King, Copyright &copy; 2007 to 2008, James Cook University. All rights reserved.
      <a href="http://www.jcu.edu.au/top/jcuprd_013723.html">Terms of use</a> | <a href="http://www.jcu.edu.au/privacy/">Privacy statement</a>
    </div>
    <div class="version" style="float:right;">
      Hydrant Version 0.9rc1
    </div>
    <div style="clear: both;"></div>
  </div>
</div>
</div>
</body>
</html>
