{% load gravatar %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15">
<title>Hydrant</title>
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/hydrant.css"/>
{% block extrastyle %}{% endblock %}
</head>

<body {% block bodyattrs %}{% endblock %}>
<div class="site">
<div id="header">
<div id="toolbar">
  <div class="tools">
    {% if user.is_authenticated %}
    <div class="toollink">
    <a href="{% url logout %}">Log out</a>
    </div>
    {% block faqlink %}<div class="toollink"><a href="#">FAQ</a></div>{% endblock %}
    {% if user.is_superuser %}
    {% block adminlink %}<div class="toollink"><a href="#">Administration</a></div>{% endblock %}
    {% endif %}
    {% block profilelink %}<div class="toollink"><a href="{% url profile user.username %}">Profile</a></div>{% endblock %}
    {% block jobslink %}<div class="toollink"><a href="{% url jobs %}">Jobs</a></div>{% endblock %}
    {% block workflowslink %}<div class="toollink"><a href="{% url workflows %}">Workflows</a></div>{% endblock %}
    {% else %}
    <div class="toollink">
    <a href="{% url login %}">Log in</a>
    </div>
    {% endif %}
  </div>
</div>
<div id="logo">
  <a href="{% url home %}"><img src="{{ MEDIA_URL }}/img/hydrant-logo-empty-w-cp.png" alt="hydrant"/></a>
</div>
{% if user.is_authenticated %}
<div id="userbox">
  <div id="gravatar">
    <a href="{% url home %}">
    <img src="{% gravatar_url user 48 %}" alt="gravatar"/>
    </a>
  </div>
  <div id="username">
    <a href="{% url home %}">
    {% if user.first_name %}
    {{ user.first_name }} {{ user.last_name }}
    {% else %}
    {{ user.username }}
    {% endif %}
    </a>
  </div>
</div>
{% endif %}
</div>
<div id="content">
  {% block content %}
  <div id="indexview">
  <div id="text">
    <div id="title">
    <h1>Hydrant</h1> <span>( beta )</span>
    <div style="clear: both;"></div>
    </div>
    <h2>Making Kepler easy ...</h2>
    <div id="intro">
    </div>
  </div>
  <img src="{{ MEDIA_URL }}/img/hydrant-screenshot.png"/>
  <div style="clear: both;"></div>
  </div>
  {% endblock %}
</div>
<div class="seperator"></div>
<div id="footer">
<div class="copywrite">
  Created By Tristan King<br/>
  Copyright &copy; 1995 to 2007, James Cook University. All rights reserved.<br/>
  <a href="http://www.jcu.edu.au/top/jcuprd_013723.html">Terms of use</a> | <a href="http://www.jcu.edu.au/privacy/">Privacy statement</a>
</div>
<div class="logos" style="margin-left: auto; margin-right: auto;">
    <a href="http://www.djangoproject.com"><img src="{{ MEDIA_URL}}/img/logos/django-powered.png" alt="Django"/></a>
    <a href="http://www.jython.org"><img src="{{ MEDIA_URL }}/img/logos/jython-powered.png" alt="Jython"/></a>
    <a href="http://www.kepler-project.org"><img src="{{ MEDIA_URL }}/img/logos/kepler-powered.png" alt="Kepler"/></a>
</div>
</div>
</div>
</body>
</html>
