{% extends "index.html" %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/forms.css"/>
{% endblock %}

{% block loginlink %}<div class="toollink"><a class="selected">Log in</a></div>{% endblock %}

{% block content %}
<div class="login-box">
  <form action="" method="post" id="login-form">
  
  <h1>Log in</h1>

  {% if form.errors %}
  <div class="errorbox">invalid username and/or password</div>
  {% endif %}

  <div id="login-fields">
    <label for="id_username">Username<br/>{{ form.username }}</label>
    <label for="id_password">Password<br/>{{ form.password }}</label>
  </div>
  <div id="buttons">
    <label style="inline">
    <input type="submit" value="Login" />
    </label>
  </div>
  <input type="hidden" name="next" value="{% if next %}{{ next }}{% else %}{% url dashboard %}{% endif %}" />
  
  </form>
</div>
<div class="login-news">
  <div class="header">
    NEWS!
  </div>
  <div class="date">
    22 August 2008
  </div>
  <div class="news">
    Hydrant now has LDAP support! If you have an general purpose account at
    James Cook Uni you can now log in with that, all other users still need
    to sign up.
  </div>
  <div class="date">
    20 June 2008
  </div>
  <div class="news">
    The machine Hydrant was previosuly running on died and all the data was lost. Most of the User accounts were saved, but if you have trouble logging in, try sign up again. If you still have trouble after that, send a message to the mainling list. 
  </div>
</div>
<div style="clear: both;"></div>
<script type="text/javascript">
document.getElementById('id_username').focus()
</script>
{% endblock %}