{% extends "index.html" %}
{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/forms.css"/>
<!--[if IE]><style type="text/css">@import "{{ MEDIA_URL }}/css/forms_ie.css";</style><![endif]-->
{% endblock %}
{% block content %}
<div id="upload-wf-box">
  <form enctype="multipart/form-data" name="upload-workflow-form" action="{{ form_url }}" method="post" id="upload_workflow_form">
  <h1>Upload Workflow</h1>
  <div id="fields">
    {% for field in form %}
    {% ifequal field.name 'public' %}
    <div id="public">
      {{ field.label }}
      <span>(You can change this later)</span>
      <br/>{{ field }}
    </div>
    {% else %}
    <label {% if field.errors %}class="missing-field" {% endif %}
    for="id_{{ field.name }}">{{ field.label }}</label>
    {{ field }}
    {% if field.errors %}<br/>
    <span class="error-text">{% for e in field.errors %}{{ e }}{% endfor %}</span>
    {% endif %}<br/>
    {% endifequal %}
    {% endfor %}
  </div>
  <div id="buttons">
    <input type="submit" value="Upload" />
  </div>
  </form>
</div>
{% endblock %}
