{% extends "index.html" %}
{% load textutils %}
{% load gravatar %}
{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/workflow.css"/>
{% if model %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/js-graph-it.css"/>
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/canvas.css"/>
<script type="text/javascript" src="{{ MEDIA_URL }}/js/js-graph-it.js"></script>
{% endif %}
{% if form %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/forms.css"/>
{% else %}
{% if jobform %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/forms.css"/>
{% endif %}
{% endif %}
<script type="text/javascript" src="{{ MEDIA_URL }}/js/prototype.js"></script>
{% endblock %}
{% block bodyattrs %}{% if model %}onload="initPageObjects();"{% endif %}{% endblock %}

{% block content %}
<div id="workflow-content">
  <div id="details">
  <div class="title">
    <div class="name">
      <a href="#">{{ workflow.name }}</a>
    </div>
    <div class="tools">
      <a href="{% url job_create workflow.pk %}" class="runlink">Create Job</a>
      |
      <a href="{% url download_workflow workflow.pk %}" class="addlink">Download</a>
      |
      <a href="{% url duplicate_workflow workflow.pk %}" class="addlink">Duplicate</a>
      |
      <a href="#" onClick="delete_workflow();" class="xlink">Delete</a>
    </div>
    <div style="clear: both;"></div>
  </div>
  <div class="details">
  <div class="icon">
    <img src="{{ MEDIA_URL }}/img/kepler-logo-32.png" alt="kepler job"/>
    <img src="{% gravatar_url workflow.owner 32 %}" alt="{{ workflow.owner.username}}"/>
  </div>
  <div class="status">
    {{ workflow.description }}
  </div>
  <div style="clear: both;"></div>
  </div>
  </div>
  <div id="workflow">
    <div id="crumbs">
      {% for c in crumbs %}
      <div id="crumb"><a href="{{ c.url }}">{{ c.name }}</a></div>
      <div id="sep">/</div>
      {% endfor %}
      <div id="crumb-this">{{ name }}</div>
      <div style="clear: both;"></div>
    </div>
  {% if model %}
    <!--
    <iframe id="workflow-frame"
            name="workflow-frame"
            src="{% url workflow_canvas workflow.pk %}"
            onload="resize_iframe();">
    Your browser does not support iframes
    </iframe>
    -->
    <div id="wf-canvas">
    {% include 'workflow_canvas.html' %}
    </div>
    {% endif %}
    {% if form %}
    <div id="wf-p">
    {% include 'kepler/parameters.html' %}
    </div>
    {% endif %}
  </div>
  {% if jobform %}
  <div id="jobpreview">
    <div id="title">
      <div class="name">
	<a href="#">{{ workflow.name }}</a> job submit preview
      </div>
      <div class="tools">
      </div>
      <div style="clear: both;"></div>
    </div>
    <div id="jobform">
{% comment %}      
      <form {% if jobform and jobform.is_multipart %}
      enctype="multipart/form-data"
      {% endif %}
      id="id_job_submission_form" action="" method="post">
{% endcomment %}
      {% for f in jobform %}
      <div id="field">
	<label for="id_{{ f.name }}">{{ f.label }}<br/>{{ f }}</label>
	<div id="help-text">{{ f.help_text }}</div>
	<div style="clear: both;"></div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}
  <div id="users"></div>
  <script>
  <!--
  function resize_iframe(){
  //document.getElementById("workflow-frame").width=100
  //document.getElementById("workflow-frame").width=window.frames["workflow-frame"].document.body.scrollWidth
  }
  // -->
  </script>
  
</div>

{% endblock %}
	
{% block oldcontent %}
<div class="dashboard-block-container">
    <div>
    <div class="dashboard-block">
        <div id="workflow-div" class="module">
            <h2>Workflow</h2>
             <p>Loading Model</p>
        </div>
    </div>
    <div class="dashboard-block">
        <div class="module">
        {% if user.is_staff %}
            <h2>Properties</h2>
            <form id="id_workflow_properties_form" action="" method="post">
            <table>
                {{ properties_form }}
            </table>
            </form>
            <div class="submit-row">
                <input type="submit" value="Save" name="properties" onClick="set_properties();"/>
            </div>
        {% else %}
                <h2>Description</h2>
            <p>{{ workflow.description }}</p>
        {% endif %}
        </div>
        <div class="module">
            <h2>Parameters</h2>
            <form enctype="multipart/form-data" id="id_job_submission_form" action="" method="post">
            <div id="job-submission-form-div">
            {% if parameters %}
            <table>{{ parameters }}</table>
            {% else %}
                <p>Loading Parameters</p>
            {% endif %}
            </div>
            <div class="submit-row">
            {% if user.is_authenticated %}
                <input type="submit" value="Run Job"/>
            {% else %}
                <ul><li>log in to enable job execution</li></ul>
            {% endif %}
            </div>
            </form>
        </div>
    </div>
</div>
<div style="position: absolute; top: 100px; width: 100%;">
<div id="parameters-div" style="visibility: hidden; margin-left: auto; margin-right: auto;">
</div>
</div>
</div>
<script type="text/javascript">
<!--
    update_workflow_div("{% url model_view workflow.pk %}{% if editable %}?editable=True{% endif %}");
    update_job_submission_form();
-->
</script>
{% endblock %}
{% block sidebar %}
{% endblock %}
