{% extends "index.html" %}
{% load textutils %}
{% load gravatar %}
{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/workflow.css"/>
{% if model %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/js-graph-it.css"/>
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/canvas.css"/>
<script type="text/javascript" src="{{ MEDIA_URL }}/js/js-graph-it.js"></script>
{% endif %}
{% if form or jobform or editform %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/forms.css"/>
<!--[if IE]><style type="text/css">@import "{{ MEDIA_URL }}/css/forms_ie.css";</style><![endif]-->
{% endif %}
<script type="text/javascript" src="{{ MEDIA_URL }}/js/prototype.js"></script>
{% endblock %}
{% block bodyattrs %}{% if model %}onload="initPageObjects();"{% endif %}{% endblock %}

{% block content %}
<div id="workflow-content">
  <div id="details">
  <div class="title">
    <div class="name">
      <a href="{% url workflow workflow.pk %}">{{ workflow.name }}</a>
    </div>
    <div class="tools">
      <a href="{% url job_create workflow.pk %}" class="runlink">Create Job</a>
      |
      <a href="{% url download_workflow workflow.pk %}" class="addlink">Download</a>
      |
      <a href="{% url duplicate_workflow workflow.pk %}" class="addlink">Duplicate</a>
      |
      <a href="{% url delete_workflow workflow.pk %}" class="xlink">Delete</a>
    </div>
    <div style="clear: both;"></div>
  </div>
  <div class="details">
  <div class="icon">
    <img src="{{ MEDIA_URL }}/img/kepler-logo-32.png" alt="kepler job"/>
    <a href="{% url profile workflow.owner.username %}">
    <img src="{% gravatar_url workflow.owner 32 %}" alt="{{ workflow.owner.username}}"/>
    </a>
  </div>
  <div class="status">
    {{ workflow.description }}
  </div>
  <div style="clear: both;"></div>
  </div>
  </div>
  {% if workflowerror %}
  <div id="error">
    <h1>Error</h1>
    <div id="help">
      An Error occured when trying to open this workflow.<br/>
      The most common cause for this is that your workflow has dependencies on
      actors or libraries that haven't yet been loaded into Hydrant.
      If you have custom built actors specific to your workflow, you can
      request to have these actors added by an Administrator.<br/><br/>
      {% if not reported %}
      <a href="#" id="reporterror_link">Report this to an administrator</a>
      <div id="reporterror" style="display: none">
	<form method="POST" action="">
	<label for="{{ reporterrorform.message.id }}">Enter any details that may help resolve this issue. i.e. if any
	custom libraries are being used and locations where the libraries can be found.
	<br/>
	{{ reporterrorform.message }}</label><br/>
        <div id="submitrow">
	  <input type="submit" value="Send" name="reporterror"/>
        </div>
	</form>
      </div>
      {% else %}
      Report has been sent
      {% endif %}
    </div>
    {% if user.is_superuser %}
    <pre>{{ workflowerror }}</pre>
    {% endif %}
  </div>
  {% endif %}
  {% if model or form %}
  <div id="workflow">
    <div id="crumbs">
      {% for c in crumbs %}
      <div id="crumb"><a href="{{ c.url }}">{{ c.name }}</a></div>
      <div id="sep">/</div>
      {% endfor %}
      <div id="crumb-this">{{ name }}</div>
      <div style="clear: both;"></div>
    </div>
    <!--
    <iframe id="workflow-frame"
            name="workflow-frame"
            src="{% url workflow_canvas workflow.pk %}"
            onload="resize_iframe();">
    Your browser does not support iframes
    </iframe>
    -->
    {% if model %}
    <div id="wf-canvas">
    {% include 'workflow_canvas.html' %}
    </div>
    {% endif %}
    {% if form %}
    <div id="wf-p">
    {% include 'kepler/parameters.html' %}
    </div>
    {% endif %}
  </div>
  {% endif %}
  {% if jobform %}
  <div id="jobpreview">
    <div id="title">
      <div class="name">
	<a href="#">{{ workflow.name }}</a> job submit preview
      </div>
      <div class="tools">
      </div>
      <div style="clear: both;"></div>
    </div>
    <div id="jobform">
      {% for f in jobform %}
      <div id="field">
	<label for="id_{{ f.name }}">{{ f.label }}<br/>{{ f }}</label>
	<div id="help-text">{{ f.help_text }}</div>
	<div style="clear: both;"></div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}
  {% if editform %}
  <form action="" method="POST">
  <div id="editform">
    {% for f in editform %}
    {% ifequal f.name 'public' %}
    <div id="public">
      <label> {{ f.label }}</label>
      {{ f }}
    </div>
    {% else %}
    <div id="field">
      <label for="id_{{ f.name }}">{{ f.label }}<br/>{{ f }}</label>
    </div>
    {% endifequal %}
    {% endfor %}
  </div>
  <div id="usersform">
    <div id="title">User Permissions</div>
    {% for u in workflow.all_permitted_users %}
    <div id="user">
      <a href="{% url profile u.username %}">
      <img src="{% gravatar_url u 16 %}" alt="{{ u.username }}"/>
      </a>
      <a href="{% url profile u.username %}">
      {{ u }}
      </a>
    </div>
    <div id="perms">
      <label for="id_{{ u.username }}_edit">edit:
      <input type="checkbox"
      id="id_{{ u.username }}_edit"
      name="{{ u.username }}_edit"
      {% for u2 in workflow.edit_permissions.all %}
      {% ifequal u u2 %}
      checked="checked"
      {% endifequal %}
      {% endfor %}
      /></label>
      <label for="id_{{ u.username }}_view">view:
      <input type="checkbox"
      id="id_{{ u.username }}_view"
      name="{{ u.username }}_view"
      {% for u2 in workflow.view_permissions.all %}
      {% ifequal u u2 %}
      checked="checked"
      {% endifequal %}
      {% endfor %}
      /></label>
    </div>
    <div style="clear: both;"></div>
    {% endfor %}
    <div id="adduserrow">
      <a id="add_user_link" href="#">Add User</a>
      <div id="add_new_user_form" style="display: none;">
	{{ adduserform }}
	<a id="close_add_new_user_form_link" href="#">Close</a>
      </div>
    </div>
  </div>
  <div id="submitrow">
    <input type="submit" name="details" value="Save"/>
  </div>
  </form>
  <script type="text/javascript">
  <!--
  $('add_user_link').observe('click',
      function(event){
          $('add_new_user_form').show();
          $('id_username').focus();
          event.stop();
      }
  )
  $('close_add_new_user_form_link').observe('click',
      function(event){
          $('id_username').clear();
          $('add_new_user_form').hide();
          event.stop();
      }
  )
  $('id_public_1').observe('click',
      function(event){
          $('usersform').show();
      }
  )
  $('id_public_0').observe('click',
      function(event){
          $('usersform').hide();
      }
  )
  $('reporterror_link').observe('click',
      function(event){
          $('reporterror').show();
          $('id_subject').focus();
          event.stop();
      }
  )
  // -->
  </script>
  {% endif %}
  <script>
  <!--
  function resize_iframe(){
  //document.getElementById("workflow-frame").width=100
  //document.getElementById("workflow-frame").width=window.frames["workflow-frame"].document.body.scrollWidth
  }
  // -->
  </script>
  
</div>

{% endblock %}

