{% load textutils %}
{% if actor %}
<div class="actor notdraggable down_start down_end"  
    style="left: {{ actor.location.x|px_to_em }}em; top: {{ actor.location.y|px_to_em }}em">
  <div style="overflow: auto;">{{ actor.name }}</div>
  <div style="display: table;">
    <div class="smalltd">
      <div class="small">
	{% for ip in actor.inputports %}
        <div class="smalltr">
	  <img alt="" id="{{ ip }}" class="block" src="{{ MEDIA_URL }}/images/single-port.png"/>
	</div>
	{% endfor %}
      </div>
    </div>
    <div class="smalltd">
      {% if editable or actor.composite %}<a href="{{ parameters_url_base }}{{ actor.name }}/">{% endif %}
      {% if actor.composite %}
      <img alt="{{ actor.name }}" style="cursor: pointer;" id="{{ actor.name|replace_spaces }}" class="block" src="{{ MEDIA_URL }}/images/composite.png"/>
      {% else %}
      <img alt="{{ actor.name }}" id="{{ actor.name|replace_spaces }}" class="block" src="{{ MEDIA_URL }}/images/basic-actor.png"/>
      {% endif %}
      {% if editable or actor.composite %}</a>{% endif %}
    </div>
    <div class="smalltd">
      <div class="small">
	{% for ip in actor.outputports %}
        <div class="smalltr">
	  <img alt="" id="{{ ip }}" class="block" src="{{ MEDIA_URL }}/images/single-port.png"/>
	</div>
	{% endfor %}
      </div>
    </div>
  </div>
</div>
{% endif %}
