<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <title>Advanced Tabs</title>
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/ext-all.css" />

    <!-- GC -->
 	<!-- LIBS -->
    <script type="text/javascript" src="{{ MEDIA_URL }}js/ext-base.js"></script>
 	<!-- ENDLIBS -->

    <script type="text/javascript" src="{{ MEDIA_URL }}js/ext-all.js"></script>

    <style type="text/css">
    </style>
    <script type="text/javascript">
    </script>

</head>
<body>
<form action="" method="post" id="test_form">
<select multiple="multiple" name="test_select" id="id_test_select">
<option value="4,4,4">4</option>
<option value="5,5,5">5</option>
<option value="3,3,3">3</option>
<option value="6,6,6">6</option>
<option value="2,2,2">2</option>
<option value="1,1,1">1</option>
</select>
<input type="submit" value="Upload" />
</form>
</body>
</html>
