{% load textutils %}
{% if model %}
<!--<div style%="display: table; border: 1px solid; width: 100%;">-->
    <h2>Workflow</h2>
    <div style="text-align: left; border-bottom: solid 1px #999;">
        <span style="margin: 0 0 0 10px;">
            {% for c in crumbs %}
            {% ifequal c '' %}
            {% else %}
            <a href="#" onClick="update_workflow_div('{{ next }}{{ c.path }}');">{{ c.name }}</a> <span style="color: #999">&rsaquo;</span>
            {% endifequal %}
            {% endfor %}
            <span style="color: #999;">{{ model.name }}</span>
        </span>
    </div>
    <div style="display: table-cell; vertical-align: top;">
        <div class="canvas" id="mainCanvas" style="width: {{ model.canvas.x }}px; height: {{ model.canvas.y }}px;">
            {% if model.director %}
            {% with model.director as director %}
            <div class="director notdraggable" style="left: {{ director.location.x }}px; top: {{ director.location.y }}px">
                <div>{{ director.name }}</div>
                <img alt="{{ director.name }}" id="{{ director.name|replace_spaces }}" class="block" src="{{ MEDIA_URL }}images/director.png"
                {% if editable %}onDblClick="set_parameters_to_loading();update_parameters('{{ parameters_url_base }}', '{{ director.name }}'); set_visibility(1, 'parameters-div');"{% endif %}/>
            </div>
            {% endwith %}
            {% endif %}

            {% for actor in model.actors %}
            {% include "kepler/actor_div.html" %}
            {% endfor %}

            {% for port in model.ports %}
            <div class="port notdraggable" style="left: {{ port.location.x }}px; top: {{ port.location.y }}px">
                <div style="overflow: auto">{{ port.name }}</div>
                <img alt="{{ port.name }}" class="block" id="{{ port.id|replace_spaces }}" src="{{ MEDIA_URL }}images/in-port.png"/>
            </div>
            {% endfor %}

            {% for vertex in model.vertices %}
            <div class="vertex notdraggable" style="left: {{ vertex.location.x }}px; top: {{ vertex.location.y }}px">
                <img alt="" class="block" id="{{ vertex.name|replace_spaces }}" src="{{ MEDIA_URL }}images/vertex.png"/>
            </div>
            {% endfor %}

            {% for link in model.links %}
            <div class="connector {{ link.0|replace_spaces }} {{ link.1|replace_spaces }}"></div>
            {% endfor %}

            {% for annotation in model.annotations %}
            <div class="annotation notdraggable"
                style="     left: {{ annotation.location.x }}px;
                            top: {{ annotation.location.y }}px;
                            color: #{{ annotation.text_color }};
                            font-family: {{ annotation.font_family }};
                            font-size: {{ annotation.text_size }}pt;
                            {% ifequal annotation.bold 'true' %}font-weight: bold;{% endifequal %}
                            {% ifequal annotation.italic 'true' %}font-style: italic;{% endifequal %}
                ">
                {{ annotation.text|linebreaks }}
            </div>
            {% endfor %}
            <!--
            <div id="parameters-div" class="properties">
            </div>
            <script type="text/javascript">
                set_parameters_to_loading();
                {% if open_actor_properties %}
                set_visibility(1, 'parameters-div');
                update_parameters('{{ open_actor_properties }}');
                {% endif %}
            </script>
            -->
        </div>
    </div>
    <!--</div>-->
{% endif %}
